html.wf-poppins-n3-active.wf-poppins-n4-active.wf-poppins-n5-active.wf-poppins-n6-active.wf-poppins-n7-active.wf-roboto-n3-active.wf-roboto-n4-active.wf-roboto-n5-active.wf-roboto-n6-active.wf-roboto-n7-active.wf-active(lang="en")
	head
		meta(http-equiv="content-type", content="text/html;charset=UTF-8")
		meta(charset="utf-8")
		title CTF | Thank You !
		meta(name="description", content="Latest updates and statistic charts")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// begin::Web font
		script(src="js/webfont.js")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700", media="all")
		script.
			WebFont.load({
			google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
			active: function() {
			sessionStorage.fonts = true;
			}
			});
		// end::Web font
		// begin::Base Styles
		link(href="assets/vendors/base/vendors.bundle.css", rel="stylesheet", type="text/css")
		link(href="assets/demo/default/base/style.bundle.css", rel="stylesheet", type="text/css")
		// end::Base Styles
		style(type="text/css").
			.button {
			opacity: 0;
			position: relative;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			width: 180px;
			height: 60px;
			fill:;
			text-decoration: none;
			}
			.button.blue {
			color: #5E89FB;
			}
			.button.green {
			color: #18F38C;
			}
			.button.orange{
			color:#f56200;
			}
			.button.red {
			color: #FF1461;
			}
			.button svg {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			stroke-width: 0;
			fill: none;
			/*fill-rule: evenodd;*/
			stroke: currentColor;
			}
			.button.green svg {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
			}
			.button path {
			scale: .9;
			transform-origin: 50% 50%;
			}
		style(type="text/css").
			.im-caret {
			-webkit-animation: 1s blink step-end infinite;
			animation: 1s blink step-end infinite;
			}
			@keyframes blink {
			from, to {
			border-right-color: black;
			}
			50% {
			border-right-color: transparent;
			}
			}
			@-webkit-keyframes blink {
			from, to {
			border-right-color: black;
			}
			50% {
			border-right-color: transparent;
			}
			}
			.im-static {
			color: grey;
			}
	body.m--skin-.m-header--fixed.m-header--fixed-mobile.m-aside-left--enabled.m-aside-left--skin-dark.m-aside-left--offcanvas.m-footer--push.m-aside--offcanvas-default
		// begin:: Page
		.m-grid.m-grid--hor.m-grid--root.m-page
			#m_login.m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-grid--tablet-and-mobile.m-grid--hor-tablet-and-mobile.m-login.m-login--1.m-login--singin.m-login--signup
				.m-grid__item.m-grid__item--fluid.m-grid.m-grid--center.m-grid--hor.m-grid__item--order-tablet-and-mobile-1.m-login__content(style="background-color:#282931")
					.m-grid__item.m-grid__item--middle
						h3.m-login__welcome Oops, It seems that you have not completed or completed only One Task!
						br
						h2.m-login__welcome(style="font-weight: 100") You are just a bit close!
						// <h2 class="m-login__welcome" style="font-weight: 100">Your Current Score is : //#{finalScore}</h2>
						//p.m-login__msg
							//| Your Current Score for this task is : !{finalScore}
							br
						p.m-login__msg(style="font-weight: 100") Please provide both the answers correctly to UNLOCK the Secret
